:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
  background-color: var(--very-light-gray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.preview-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 3.2rem;
}

.preview-card__title {
  margin-top: 2.4rem;
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--very-light-gray);
  text-transform: uppercase;
}

.preview-card__description {
  margin-top: 2.4rem;
  color: var(--transparent-white);
  line-height: 1.6;
}

.preview-card--orange {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--bright-orange);
  padding-inline-start: 3.2rem;
  padding-inline-end: 4.8rem;
}
.preview-card--cyan {
  background-color: var(--dark-cyan);
  padding-inline: 3.2rem;
}
.preview-card--dark-cyan {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--very-dark-cyan);
  padding-inline-start: 4.8rem;
  padding-inline-end: 3.2rem;
}

.btn {
  margin-top: 6.4rem;
  font-family: inherit;
  border: none;
  border-radius: 50px;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
}

.btn--orange {
  color: var(--bright-orange);
}
.btn--cyan {
  color: var(--dark-cyan);
}
.btn--dark-cyan {
  color: var(--very-dark-cyan);
}

@media (max-width: 34em) {
  .container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3.2rem 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .preview-card {
    padding-block: 2.4rem;
  }

  .preview-card--orange {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    background-color: var(--bright-orange);
    padding-inline: 3.2rem;
  }

  .preview-card--dark-cyan {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    padding-inline: 3.2rem;
  }

  .btn {
    margin-top: 3.2rem;
  }
}
